/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: "HelveticaNeue-Light", sans-serif;
  font-weight: 300;
  margin: 40px;
  margin-left: 60px;
}

/** {
  background-color: hsla(255, 60%, 70%, 0.2);
}*/


#requests {
  display: table;
  border-collapse: separate;
  border-spacing: 6px;
  margin-left: -6px;
}

  #requests .header {
    display: table-cell;
    font-weight: bold;
    width: 115px;
  }

  .request {
    display: table-row;
  }

  .request .date {
    display: table-cell;
  }
  
  .approval {
    display: table-cell;
  }
  
  .approval input {
    display: inline; 
  }
  
#cats {
  display: table;
  
  width: 500px;
  
  margin-left: -5px;
  border-collapse: separate;
  border-spacing: 6px;
}

  .attribute {
    display: table-row;
  }
  /*#e4ebeb*/
  .attribute:nth-child(odd),
  .request:nth-child(even) {
    background-color: #DFF0F2;
  }
  
  .attribute .name {
    width: 100px;
    font-weight: bold;
  }
  
  .attribute .value {
    width: 375px;
  }

  .attribute .name, .attribute .value {
    display: table-cell;
    padding: 4px;
  }
  
.image {
  float: right;
  -webkit-transition: all .2s ease-in-out;
}

.image:hover {
  -webkit-transform: scale(1.1);
}

.cat-info {
  max-width: 900px;
  min-height: 250px;
}

.req-info {
  max-width: 900px;
}

li {
  margin: 5px 5px;
  font-size: 14pt;
}

a {
  text-decoration: none;
  color: #218693;
}

a:hover {
  text-decoration: underline;
}

#request-form {
  float: right;
  margin-top: -16px;
  width: 300px;
}