<form action="/cats" method="POST">
  <label for="cat_name">Name</label>
  <br>
  <input type="text" name="cat[name]" id="cat_name">
  
  <br>
  
  <label for="cat_age">Age</label>
  <br>
  <input type="text" age="cat[age]" id="cat_age">
  
  <br><br>
  
  <input type="radio" name="cat[sex]" id="cat_sex_female" value="F">
  <label for="cat_sex_female">Female</label>
  <br>
  <input type="radio" name="cat[sex]" id="cat_sex_male" value="M">
  <label for="cat_sex_male">Male</label>
  
  <br><br>
  
  <label for="cat_color">Color</label>
  <br>
  <select name="cat[color]" id="cat_color">
  <option value="" />
  <% Cat::COLORS.each do |color| %>
    <option value="<%= color %>"><%= color %></option>
  <% end %>
  </select>
  
  <br><br>
  
  <label for="cat_birth_date">Birth Date</label>
  <br>
  <input type="date" name="cat[birth_date]" id="cat_birth_date">
  
  <br><br>
  
  <label for="cat_description">Description</label>
  <br>
  <textarea name="cat[description]" id="cat_description"></textarea>
  <br>
  <input type="submit" value="Create cat">
</form>